.profile__info {
    color: #fff;
    display: flex;
    align-items: center;
}

@media screen and (max-width: 680px) {
    .profile__info {
        flex-direction: column;
        justify-content: center;
        padding: 0 19px 0 19px;
    }
}