.card__delete-btn {
    background-image: url('../../../images/delete_btn.svg');
    width: 18px;
    height: 19px;
    cursor: pointer;
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    background-color: transparent;
    outline: none;
    position: absolute;
    top: 20px;
    right: 20px;
    transition: .2s;
}

.card__delete-btn:hover {
    opacity: .6;
}