@import './vendor/normalize.css';
@import './vendor/fonts/fonts.css';

/* PAGE */

@import './blocks/page/page.css';


/*WRAPPER */

@import './blocks/wrapper/wrapper.css';

/*OPACITY*/
@import './blocks/opacity/opacity.css';

/* HEADER */
@import './blocks/header/header.css';
@import './blocks/header/__logo/header__logo.css';

/*PROFILE*/
@import './blocks/profile/profile.css';
@import './blocks/profile/__avatar-wrapper/profile__avatar-wrapper.css';
@import './blocks/profile/__avatar/profile__avatar.css';
@import './blocks/profile/__avatar-edit-button/profile__avatar-edit-button.css';
@import './blocks/profile/__add-btn/profile__add-btn.css';
@import './blocks/profile/__edit-btn/profile__edit-btn.css';
@import './blocks/profile/__info/profile__info.css';
@import './blocks/profile/__name/profile__name.css';
@import './blocks/profile/__status/profile__status.css';
@import './blocks/profile/__name-wrapper/profile__name-wrapper.css';
@import './blocks/profile/__wrapper/profile__wrapper.css';

/*PHOTO-GRID*/
@import './blocks/photo-grid/photo-grid.css';
@import './blocks/photo-grid/__wrapper/photo-grid__wrapper.css';

/*CARD*/
@import './blocks/card/__image/card__image.css';
@import './blocks/card/card.css';
@import './blocks/card/__title/card__title.css';
@import './blocks/card/__description/card__description.css';
@import './blocks/card/__like-btn/card__like-btn.css';
@import './blocks/card/__like-btn/_active/card__like-btn_active.css';
@import './blocks/card/__delete-btn/card__delete-btn.css';
@import './blocks/card/__delete-btn/_hidden/card__delete-btn_hidden.css';
@import './blocks/card/__like-wrapper/card__like-wrapper.css';
@import './blocks/card/__like-count/card__like-count.css';


/*FOOTER*/
@import './blocks/footer/footer.css';
@import './blocks/footer/__text/footer__text.css';

/*POPUP*/
@import './blocks/popup/popup.css';
@import './blocks/popup/_dark-theme/popup_dark_theme.css';
@import './blocks/popup/__container/popup__container.css';
@import './blocks/popup/_opened/popup_opened.css';
@import './blocks/popup/__close-icon/popup__close-icon.css';
@import './blocks/popup/__form/popup__form.css';
@import './blocks/popup/__save-btn/popup__save-btn.css';
@import './blocks/popup/__save-btn/_disabled/popup__save-btn_disabled.css';
@import './blocks/popup/__title/popup__title.css';
@import './blocks/popup/__input/popup__input.css';
@import './blocks/popup/__input-error/popup__input-error.css';
@import './blocks/popup/__input-error/_active/popup__input-error_active.css';
@import './blocks/popup/__input/_type/popup__input_type_error.css';
@import './blocks/popup/__image-wrapper/popup__image-wrapper.css';
@import './blocks/popup/__image/popup__image.css';
@import './blocks/popup/__image-description/popup__image-description.css';