.header {
    max-width: 880px;
    margin: 0 auto 40px auto;
    padding: 45px 0 41px 0;
    border-bottom: 1px solid rgba(84, 84, 84, .7);

}

@media screen and (max-width: 900px) {
    .header {
        padding: 45px 19px 20px 19px;
    }
}

@media screen and (max-width: 680px) {
    .header {
        width: 100%;
        padding: 28px 0 32px 0;
    }
}